.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  column-gap: 15px;
  height: 60px;
  padding-inline: 16px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.28px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-s);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &--secondary {
    color: var(--color-black);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    @include hover {
      color: var(--color-white);
      background-color: var(--color-accent);
      border-color: var(--color-accent);
    }

  }
}
