.recipe-card {
    &__link {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 32px;
        background: var(--gradient);
        border-radius: var(--border-radius);
    }

    &__image {
        border-radius: calc(var(--border-radius) / 3 * 2);
    }
}